# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# IDE/editor settings
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

.env